.app-employee-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;

  .employee-name {
    font-size: 22px;
    font-weight: 500;
  }

  .employee-salary {
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    width: 20%;
  }

  .employee-btns {
    display: flex;
    gap: 8px;

    button {
      border: none;
      padding: 12px 24px;
      border-radius: 8px;
      cursor: pointer;
      background: #fefefe;
      svg {
        width: 24px;
        height: 24px;
      }

      &.fav {
        display: none;
      }
    }
  }

  &.increased {
    .employee-name, .employee-salary {
      color: gold;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .employee-salary {
      width: 100%;
      text-align: center;
    }
  }
}