.app-filter {
  display: flex;
  gap: 8px;
  margin-top: 16px;

  button {
    background: #eee;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: inherit;

    &.active_btn {
      background: rgb(249, 249, 26);
    }
  }
}